*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

/* stili main */

main{
    height: calc(100vh - 100px);
    display: flex;
}

/* stili navbar */
#navbar{
    min-width: 250px;
    max-height: calc(100vh - 100px);
    background-color: black;
    color: white;
}

.container-nav{
    padding: 15px 15px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}


#logo-big{
    width: 150px;
}

.container-nav li{
    padding: 10px 0;
}

.container-nav .fa-solid{
    font-size: 20px;
    color: #838589;
    margin-right: 7px;
}

#fa-plus{
    font-size: 20px;
    color: black;
    padding: 7px;
    background-color: #838589;
}

.fa-user{
    font-size: 15px;
    color: white;
    background-color: #838589;
    padding: 5px;
    border-radius: 25px;
    margin-right: 10px;
}

.fa-circle-down{
    margin-right: 10px;
}

#profile{
    margin-top: 10px;
    padding-top: 15px;
    width: 100%;
    border-top: 1px solid #838589;
    display: flex;
}

#logo-small{
    width: 30px;
    display: none;
}

@media all and (max-width:552px){
    #navbar{
        min-width: 65px;
    }

    .container-nav{
        text-align: center;
    }


    #logo-small{
        display: block;
    }

    #logo-big{
        display: none;
    }

    #profile{
        border: none;
        justify-content: center;
    }

    .container-nav a,h3,h4,span{
        display: none;
    }

    .container-nav .fa-solid, .fa-regular{
        display: block;
    }
}














/* stili main content */

#main-content{
    flex-grow: 1;
    color: white;
    background-color: #141922;
    overflow-y: auto;
}

#upgrade{
    height: 100px;
    position: fixed;
    z-index: 500;
    width:calc(100vw - 250px);
    background-color: #080b12;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}
#upgrade input{
    color: white;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 25px;
    background-color: #080b12;   
}

.container{
    width: 95%;
    margin: 0 auto;
}

/* small mobile version */

@media all and (max-width:552px){
    #upgrade{
        width:calc(100vw - 65px);

    }
}

/* stili generi */
.generi{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.generi ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

.generi li{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generi a{
    margin: 0 10px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #838589;
}

#line{
    width: 30px;
    border: 1px solid #95dc2d;
}

/* stili playlist */

.img img{
    width: 100%
}

.playlist h2{
    margin-bottom: 10px;
}

.playlist .row{
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
}

.playlist .col{
    width: calc((100% / 6) - 20px);
    margin: 0 10px;
    text-align: center;
}

.playlist h3{
    margin: 10px 0;
}

.subtitle{
    color: #838589;
}

.round img{
   max-width: 150px;
   max-height: 150px;
   border-radius: 50%;
   object-fit: cover;
}

.img{
    position: relative;
}

.playlist .fa-circle-play{
    font-size: 66px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-33px , -33px);
    display: none;
}

 .playlist .img:hover img{
    opacity: 0.5;
}

 .img:hover .fa-circle-play{
    display: block;
 }

 a:hover{
    color: white;
 }

 /* tablet version */

 @media all and (max-width:878px){

    .playlist .col{
        width: calc((100% / 4) - 20px);
        margin-bottom: 15px ;
    }

 }

 /* mobile version */

 @media all and (max-width:639px){

    .playlist .col{
        width: calc((100% / 2) - 20px);
        margin-bottom: 15px ;
    }

 }






/* stili footer */

footer{
    height: 100px;
    background-color: #282828;
    color: white;
}

.container-footer{
    padding: 0 10px;
}

.container-footer .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}


.container-footer .col{
    width: 150px;
}

#like-song{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brano-play{
    display: flex;
}

.brano-play .img{
    width: 40px;
    margin-right: 10px;
}

.text-brano{
    font-size: 13px;
}

/* stili col end */

.col-end{
    display: flex;
    align-items: center;
}

#volume{
    display: flex;
}

#volume .fa-solid{
    padding: 0 5px;
}

 .col-end .barra-play{
    width: 90%;
    height: 2px;
    border: 2px solid grey;
}

/* stili col-middle */

.col-middle{
    text-align: center;
    min-width: 30%;
}

 .col-middle .barra-play{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .col-middle .grey{
    height: 2px;
    background-color:  gray;
    width: 70%;
    display: flex;
    align-items: center;

}

.col-middle .light-grey{
    background-color: yellow;
    height: 2px;
}

.col-middle span{
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
}

#song-playback{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#song-playback .fa-solid{
    font-size: 20px;
    padding: 0 10px;

}

#song-playback .fa-regular{
    font-size: 40px;
}