*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

/* stili main */

main{
    height: calc(100vh - 100px);
    display: flex;
}

/* stili navbar */
#navbar{
    min-width: 250px;
    height: 100%;
    background-color: black;
}

/* stili main content */

#main-content{
    flex-grow: 1;
    color: white;
    background-color: #141922;
}

#upgrade{
    height: 100px;
    position: fixed;
    z-index: 500;
    width:calc(100vw - 250px);
    background-color: #080b12;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}
#upgrade input{
    color: white;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 25px;
    background-color: #080b12;   
}

.container{
    width: 95%;
    margin: 0 auto;
    height: 100%;
}

/* stili generi */
.generi{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.generi ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

.generi li{
    margin-bottom: 20px;
}

.generi a{
    margin: 0 10px;
    color: #838589;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}


/* stili footer */

footer{
    height: 100px;
    background-color: #282828;
}